POSTGRES_USER=your_postgres_username
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=rescuecloud_ehr

MINIO_ROOT_USER=your_minio_username
MINIO_ROOT_PASSWORD=your_minio_password

BLOCKCHAIN_RPC_URL=http://127.0.0.1:8545
BACKUP_LEDGER_ADDRESS=0x5FbDB2315678afecb367f032d93F642f64180aa3
